/vendor/
/node_modules/
/.env
/.idea/
/.vscode/
/storage/*.key
/storage/debugbar/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/public/hot
/public/storage
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.backup
.phpunit.result.cache
.php_cs.cache
.php_cs.dist
.phpstorm.meta.php
.DS_Store
Thumbs.db
*.lock
